<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= card.age %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= card.position %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= card.image %>
  </p>

</div>
